$color-primary: #fbc9c4;
$color-secondary: #3dc1d3;
// $color-secondary: #6886c5;

$bgcolor: #e7e7e7;
$bgcolor2: #dfdfdf;
$bgcolor3: rgb(250, 250, 250);

// GRID

// FONT
$default-font-size: 1.6rem;
$big-font-size: 2rem;
$large-font-size: 2.2rem;
$xlarge-font-size: 2.8rem;
$default-font-color: #414042;

$margin-bottom-default: 6rem;
