.work-experience{
    margin-bottom: $margin-bottom-default;
}

.projects{
    margin-bottom: 1rem;
}

.involvement{
    margin-bottom: $margin-bottom-default;
}

.certificates{
    margin-bottom: $margin-bottom-default;
}

.skills{
    margin-bottom: 3rem;
}

.interests{
    margin-top: 3rem;
}